 {{ log groups }}
<div class="page-header page-header-fix">
    <h3>案例流程概览<small>{{tchRoutine.CaseName}}</small></h3>
</div>

<div id="routineoverview">
    <input id="CurrGroup" value="{{group.GroupIdx}}" type="hidden" />
    <input type="hidden" id="TchRoutineID" value="{{tchRoutine.Row_ID}}" />
    <input type="hidden" id="TchNodeID" value="{{tchNode.Row_ID}}" />
    <div class="mainprocess">
       
        {{#each groups}}
            {{log this.FirstNode}}
          <div class="group" data-groupidx="{{GroupIdx}}" data-node-id="{{FirstNodeID}}">
              
              <div class="grouptitle">{{RoutineDesc}}</div>
          </div>    
          {{#if (inverse @last) }} 
            <div class="downconnector"></div>
          {{/if}}
        {{/each}}
    </div>
    <div class="arrowcontainer">
    </div>
    <div class="currphase panel panel-success">
        <div class="panel-heading">步骤介绍</div>
        <p>
            {{ group.RoutineIntro }}
        </p>
        <div class="panel-body">

            <div class="actionbar">
                <button type="button" data-act="go" class="btn btn-primary btn-lg">开 始 学 习</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

{{> tsupport/Teaching1Navigator }}