 
<table class="table table-bordered table-condensed" cellspacing="8" style="margin: 20px 0px;">
    <tr>
        <td colspan="6">
            <div class="billtitle"><span class="bankname">{{ PayeeBank }}</span>托收凭证</div>
        </td>
    </tr>
    <tr>
        <td colspan="6" class='center'>
            委托日期: {{formatDate3 CollectDate}}
        </td>
    </tr>
    <tr>
        <td rowspan="3" class="titlecol">付款人</td>
        <td class="titlecol">全称</td>
        <td>{{ PayeeName }}</td>
        <td rowspan="3" class="titlecol">收款人</td>
        <td class="titlecol">全称</td>
        <td>{{ RemitterName }}</td>
    </tr>
    <tr>
        <td class="titlecol">账号</td>
        <td>{{ PayeeAcc }}</td>
        <td class="titlecol">账号</td>
        <td>{{ RemitterAcc }}</td>
    </tr>
    <tr>
        <td class="titlecol">开户银行</td>
        <td>{{ PayeeBank }}</td>
        <td class="titlecol">开户银行</td>
        <td>{{ RemitterBank }}</td>
    </tr>
    <tr>
        <td class="titlecol">
            金额
        </td>
        <td colspan="5">
            {{ formatMoney MoneyAmount }}
        </td>
    </tr>
    <tr>
        <td class="titlecol">款项内容</td>
        <td>{{ Purpose }}</td>
        <td class="titlecol">托收凭据</td>
        <td>&nbsp;</td>
        <td class="titlecol">附凭证张数</td>
        <td>1</td>     
    </tr>
</table>