<table class="table table-bordered table-condensed" cellspacing="8" style="margin: 20px 0px;">
    <tr>
        <td colspan="6">
            <div class="billtitle"><span class="bankname">{{ BankName }}</span>贴现凭证</div>
        </td>
    </tr>
    <tr>
        <td colspan="6" class='center'>
            {{formatDate3 TimeMark}}
        </td>
    </tr>
    <tr>
        <td rowspan="3" class="titlecol">贴现汇票</td>
        <td class="titlecol">各类</td>
        <td>{{ VoucherType  }} {{ VoucherNo }}</td>
        <td rowspan="3" class="titlecol">持票人</td>
        <td class="titlecol">名称</td>
        <td>{{ ClientName }}</td>
    </tr>
    <tr>
        <td class="titlecol">出票日</td>
        <td>{{formatDate1 DraftDate}}</td>
        <td class="titlecol">账号</td>
        <td>{{ ClientAcc }}</td>
    </tr>
    <tr>
        <td class="titlecol">到期日</td>
        <td>{{formatDate1 DueDate}}</td>
        <td class="titlecol">开户银行</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="titlecol" colspan="2">汇票承兑人</td>
        <td>{{ AcceptBank }}</td>
        <td class="titlecol">账号</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="titlecol" colspan="2">汇票金额</td>
        <td colspan="4">{{formatMoney EntryAmount}}</td>      
    </tr>
    <tr>
        <td colspan="6">
            <table class="table table-bordered table-condensed" >
                <tr>
                    <td>贴现率</td>
                    <td>{{ DiscountRate }}</td>
                    <td>贴现利息</td>
                    <td>{{formatMoney DiscountInterest}}</td>
                    <td>实付贴现金额</td>
                    <td>{{formatMoney DiscountAmount}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
