
<table class="table table-bordered table-condensed" cellspacing="8" style="margin: 20px 0px;">
    <tr>
        <td colspan="6">
            <div class="billtitle"><span class="bankname">{{ PayeeBank }}</span>进账单</div>
        </td>
    </tr>
    <tr>
        <td class="titlecol" colspan="6" class='center'>
            {{ formatDate3 IncomeBillDate }}
        </td>
    </tr>
    <tr>
        <td rowspan="3" class="titlecol">出票人</td>
        <td class="titlecol">全称</td>
        <td>{{ PayeeName }}</td>
        <td rowspan="3" class="titlecol">收款人</td>
        <td class="titlecol">全称</td>
        <td>{{ RemitterName }}</td>
    </tr>
    <tr>
        <td class="titlecol">账号</td>
        <td>{{ PayeeAcc }}</td>
        <td class="titlecol">账号</td>
        <td>{{ RemitterAcc }}</td>
    </tr>
    <tr>
        <td class="titlecol">开户银行</td>
        <td>{{ PayeeBank }}</td>
        <td class="titlecol">开户银行</td>
        <td>{{ RemitterBank }}</td>
    </tr>
    <tr>
        <td class="titlecol">
            金额
        </td>
        <td colspan="5">
             {{ formatMoney MoneyAmount }}
        </td>
    </tr>
    <tr>
        <td style="width: 80px;" class="titlecol">票据种类</td>
        <td style="width: 100px;">转账支票</td>
        <td style="width: 135px;" class="titlecol">票据张数</td>
        <td style="width: 80px;">1</td>
        <td style="width: 100px;" class="titlecol">票据</td>
        <td style="width: 135px;">0376</td>
    </tr>
</table>