<div id="fillerstepper">
    <div class="panel panel-info">
        <div class="panel-heading">待完成的科目</div>
        <div class="list-group">
            {{#each this.itemList }}            
                <a href="#" data-status="0" class="list-group-item" data-subject="{{ SubjectName }}">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    {{ SubjectName }}
                </a>
            {{/each}}
        </div>
    </div>
</div>

<div id="maincontainer">
    <div class="page-header page-header-fix">
        <h3>{{ nodeName }}<small>{{ routineName }}</small></h3>
    </div>
    {{> tsupport/CaseDescription groupText }}
    <input type='hidden' id='TchNodeID' value='{{ tchNode.Row_ID }}' />
    <input type='hidden' id='TchRoutineID' value='{{ tchNode.RoutineID }}' />  
    <div id="subjectcontainer" class="tabcontent">
        {{#each itemList}}
            <div data-subject="{{ SubjectName }}">
                <div class="summary">
                  当前科目: <span class="curr">{{ SubjectName }}</span>  <span class="hint">(点击左边的科目列表以完成其它的待记账科目)</span>
                </div>
                <table cellspacing="8" class="table table-bordered table-condensed">
                    <thead>
                        <tr class="titlecol">
                            <td colspan="8"><div class="billtitle"><span class="bankname">{{ BankName }}</span>分户账</div></td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <span class="metatitle">户名:</span><span class="metadata">{{ CustomerName }}</span>
                                <span class="metatitle">账号:</span><span class="metadata">{{ CustomerAccNo }}</span>
                            </td>
                        </tr>
                        <tr class="titlecol">
                            <td class="date" colspan="2" style="width: 125px;">年&nbsp;{{ getYear BalanceTime }}</td>
                            <td class="digest" rowspan="2" style="width: 90px;">摘要</td>
                            <td class="digest" rowspan="2" style="width: 100px;">凭证号码</td>
                            <td class="digest" rowspan="2" style="width: 90px;">借方</td>
                            <td class="digest" rowspan="2" style="width: 90px;">贷方</td>
                            <td class="digest" rowspan="2" style="width: 80px;">借或贷</td>
                            <td class="digest" rowspan="2" style="width: 90px;">余额</td>
                        </tr>
                        <tr class="titlecol">
                            <td class="debit" style="width: 60px;">月</td>
                            <td class="credit" style="width: 60px;">日</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ getMonth BalanceTime }}</td>
                            <td>
                                {{ getDay BalanceTime }}
                            </td>
                            <td>{{ BalanceAbstract }}</td>
                            <td>&nbsp;</td>                           
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>借</td>
                            <td>{{ formatMoney BalanceSum }} </td>
                        </tr>
                        <tr>
                            <td>{{ getMonth TimeMark }}</td>
                            <td>{{ getDay Day }}</td>
                            <td>
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="摘要" data-correct="{{ Abstract }}" data-operror="错误，请在思考后向指导老师寻求帮助" data-ophint="错误，请在思考后向指导老师寻求帮助" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="凭证号" data-correct="{{ VoucherNo }}" data-operror="错误，请在思考后向指导老师寻求帮助" data-ophint="错误，请在思考后向指导老师寻求帮助" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>                          
                            <td>
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="借方" data-correct="{{ formatMoney DebitSum }}" data-operror="错误，请在思考后向指导老师寻求帮助" data-ophint="错误，请在思考后向指导老师寻求帮助" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="贷方" data-correct="{{ formatMoney CreditSum }}" data-operror="错误，请在思考后向指导老师寻求帮助" data-ophint="错误，请在思考后向指导老师寻求帮助" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="借或贷" data-correct="{{ DCChoice }}" data-operror="错误，请在思考后向指导老师寻求帮助" data-ophint="错误，请在思考后向指导老师寻求帮助" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="余额" data-correct="{{ formatMoney FinalSum }}" data-operror="错误，请在思考后向指导老师寻求帮助" data-ophint="错误，请在思考后向指导老师寻求帮助" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {{/each}}
        {{> tsupport/Teaching1Responsor }} 
    </div>
 
</div>
 
{{> tsupport/Teaching1Navigator }}
