<table class="table table-bordered table-condensed" cellspacing="8" style="margin: 20px 0px;">
    <tr>
        <td colspan="11">
            <div class="billtitle">{{ PayeeBank }} 承兑汇票登记薄</div>
        </td>
    </tr>
    <tr class="titlecol">
        <td style="width: 100px;">日期</td>
        <td>科目</td>
        <td>客户账号</td>
        <td>客户名称</td>        
        <td>金额</td>        
        <td style="width: 80px;">办理结果</td>
    </tr>    
    <tr>
        <td>{{formatDate1 TimeMark}}</td>       
        <td>
            <div class="form-group checkarea">
                <label class="sr-only"></label>
                <input type="text" maxlength="20" placeholder="" data-correct="{{ SubjectName }}" data-operror="" class="form-control" />
                <i class="form-control-feedback" />
            </div>
        </td>
        <td>
            <div class="form-group checkarea">
                <label class="sr-only"></label>
                <input type="text" maxlength="20" placeholder="" data-correct="{{ ClientAcc }}" data-operror="" class="form-control" />
                <i class="form-control-feedback" />
            </div>
        </td>
        <td>
            <div class="form-group checkarea">
                <label class="sr-only"></label>
                <input type="text" maxlength="20" placeholder="" data-correct="{{ ClientName }}" data-operror="" class="form-control" />
                <i class="form-control-feedback" />
            </div>
        </td>   
        <td>
            <div class="form-group checkarea">
                <label class="sr-only"></label>
                <input type="text" maxlength="20" placeholder="" data-correct="{{ formatMoney MoneyAmount }}" data-operror="" class="form-control" />
                <i class="form-control-feedback" />
            </div>
        </td>  
        <td>
            {{ OpResult }}
        </td>
    </tr>   
</table>